.calculator-container {
    margin-top: 200px !important;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .calculator-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .calculator-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .calculator-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .calculator-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .calculator-container button:hover {
    background-color: #0056b3;
  }
  
  .calculator-container h3 {
    margin-top: 20px;
  }
  
  .calculator-container p {
    font-size: 18px;
    font-weight: bold;
  }
  