nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: var(--bg-neutro);
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    margin: 0;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: var(--hover-color);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 0 !important;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--hover-color);
}

.buttons-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 30%;
}

.signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 0.2rem 0.5rem;
}

.user {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    
}

.camera-icon img {
    width: 60px;
    height: 60px;
}